<!DOCTYPE html>
<html>
<head>
	<title>Track Test Status</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_home.css' %}" />
</head>
<body>
<center><h1>Pathology Lab Management</h1></center>
<center><div id="bar">
<a href="/labs/"><button class="button"><h2>Labs</h2> </button></a>
<a href="/centres/"><button class="button"><h2>Centres</h2></button></a>
<a href="/testnames/"><button class="button"><h2>Tests</h2></button></a>
<a href="/agentinfo/"><button class="button"><h2>Agents</h2> </button></a>
<a href="/contact/"><button class="button"><h2>Contact</h2> </button></a>
</div>
<br><br><br>
{{ERROR}}
</center>
<br><br>

			<center><div id="pageContent" style="width:80%">

                <table class="login" border="1">

                    <tr style="color:black">
                        <th> ID </th>
                        <th> Patient ID </th>
                        <th> Agent ID </th>
                        <th> Reg. Date </th>
                        <th> Due Date </th>
                        <th> Cost </th>
                        <th> Paid </th>
                        <th> Sampling </th>
                        <th> Packed</th>
                        <th> Shipped</th>
                        <th> Destination </th>
                        <th> Test Start </th>
                        <th> Test Comp. </th>
                        <th> Report Generated </th>
                    </tr>

                    {% for i in records %}

                        <tr style="color:black ; height:40px">
                            <td> {{ i.0 }} </td>
                            <td> {{ i.1 }} </td>
                            <td> {{ i.2 }} </td>
                            <td> {{ i.3 }} </td>
                            <td> {{ i.4 }} </td>
                            <td> {{ i.5 }} </td>
                            <td> {{ i.6 }} </td>
                            <td> {{ i.7 }} </td>
                            <td> {{ i.8 }} </td>
                            <td> {{ i.9 }} </td>
                            <td> {{ i.10 }} </td>
                            <td> {{ i.11 }} </td>
                            <td> {{ i.12 }} </td>
                            <td> {{ i.13 }} </td>
                        </tr>

                    {% endfor %}

                </table>
        </div></center>
        <br><br>
<center><a href="/agent/menu/" ><button class="button1">Go To Menu</button></a></center><br><br>
<center><a href="/agent/sign_out/" ><button class="sign">Sign Out</button></a></center>


</body>
</html>
